fastapi
uvicorn[standard]
websockets
PyYAML
edge-tts
httpx
sherpa-onnx
faster-whisper
openai
pysbd
langdetect
chardet
loguru
onnxruntime
requests
tqdm
numpy
google-generativeai
pydantic-settings
soundfile
pyloudnorm
noisereduce
scipy